* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.back-arrow-mobile {
  display: none;
}
.man-desk {
  display: block;
}
.man-m {
  display: none;
}
body {
  background-color: #150e28;
  /* font-family: Arial, Helvetica, sans-serif; */
  background-image: url(./Images/register-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 128px 0 128px;
}
.logo {
  font-family: Clash Display;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
.logo-linked {
  color: #d434fe;
}

nav ul {
  display: flex;
  /* align-items: baseline; */
  align-items: center;
  gap: 56px;
}
.link {
  color: #fff;
  font-size: 1rem;
}
.contact {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.register-li {
  width: 172px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
}
.register {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
}
/* Main styling start */
main {
  display: flex;
  padding: 0 208px 0 0px;
  justify-content: space-between;
}
.left {
  padding-top: 81px;
}

/* Social icons style end */
/* Main right style start */
.right {
  margin-top: 87px;
  margin-bottom: 40px;
  padding: 65px 91px 65px 91px;
  width: 740px;
  height: 740px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.reg {
  color: #d434fe;
  font-family: Clash Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 30px;
}
.ppl-div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* justify-content: center; */
}
.ppl-div p {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ppl-div img {
  margin-top: -20px;
  margin-left: 10px;
}
.form-header {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}
.input-1-div {
  display: flex;
}
label {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input {
  width: 263px;
  height: 47px;
  border-radius: 4px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.25);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
select {
  width: 263px;
  height: 47px;
  border-radius: 4px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0px 20px 0px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff;
}
option {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.phone-div,
.project-div,
.group-div {
  margin-left: 30px;
}

.input-2-div {
  display: flex;
}

.input-3-div {
  display: flex;
}
.pls {
  color: #ff26b9;
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 20px;
}
.check {
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #fff;
}
.check-div {
  display: flex;
  align-items: center;
}
.check-div p {
  margin-left: 10px;
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.submit-button {
  width: 558px;
  height: 53px;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 32px;
  cursor: pointer;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
}
/* Main right style end */
/* Main styling end */

/* Mobile view style start */
@media screen and (max-width: 1250px) {
  .man-desk {
    display: none;
  }
  .man-m {
    display: block;
  }

  body {
    background-image: url(./Images/reg-bg-m.png);
  }
  header {
    display: none;
  }
  /* .left {
        display: none;
    } */
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0px 0 0px;
  }
  .back-arrow-mobile {
    display: block;
    margin: 47px 0 0 48px;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-left: 80px;
    padding: 5px 80px 67px 10px;
    width: 387px;
    /* height: 611px; */
    border-radius: 12px;
    background: none;
    box-shadow: none;
  }
  .input-1-div,
  .input-2-div,
  .input-3-div {
    display: flex;
    flex-direction: column;
  }
  .phone-div,
  .project-div,
  .group-div {
    margin-left: 0px;
  }
  .submit-button {
    width: 172px;
    height: 53px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 32px;
    cursor: pointer;
    background: linear-gradient(
      270deg,
      #903aff 0%,
      #d434fe 56.42%,
      #ff26b9 99.99%,
      #fe34b9 100%
    );
  }
  .reg {
    display: none;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #cate {
    width: 155px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  #select {
    width: 87px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .input-3-div {
    display: flex;
    flex-direction: row;
  }
  option {
    color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
/* Mobile view style end */
